<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.masterj.mybatisplus.user.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.masterj.mybatisplus.user.entity.User">
        <id column="id" property="id"/>
        <result column="last_name" property="lastName"/>
        <result column="age" property="age"/>
        <result column="email" property="email"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, last_name, age, email
    </sql>

    <insert id="insertUser"></insert>

    <select id="findByLastName" parameterType="string" resultMap="BaseResultMap">
        select * from tab_user where last_name = #{0}
    </select>

    <select id="findPageByLastName" parameterType="string" resultMap="BaseResultMap">
        select * from tab_user where last_name like #{lastName}
    </select>

    <select id="findAllByLastName" resultType="cn.masterj.mybatisplus.user.entity.User"></select>

</mapper>
